<div>
    <h2>Reset Your password</h2>
    <br/>
    <br/>
     <p>reset your password at the link givin below</p>
     <a href="https://www.localhost:8000.com/reset-password">reset password page</a>
    <br/>
    <br/>
    <p>Thanks!</p>
  </div>
  