<div id="outer-box">
  <div class="messages">
    <ul>
      <li class="other_message message">other Message</li>
      <li class="my_message message">my Message</li>
    </ul>
  </div>
  <div class="message_sending_tool">
    <input type="text" name="" placeholder="Type Your Message" id="" />
    <button>Send</button>
  </div>
</div>
