<div class="outer-box">
<div class="messages">
<div class="message">Message1</div>
<div class="message">Message2</div>

</div>
<div class="message_sending_tool">
<input type="text" name="" placeholder="Type Your Message" id="">
<button>Send</button>
</div>
</div>
