<h1>Create New Password</h1>

<form action="/users/createnewpassword" method="POST">
  <input type="password" name="password" placeholder="password" required />
  <input
    type="password"
    name="confirmpassword"
    placeholder="Confirm-password"
    required
  />
  <input type="submit" value="Submit" />
</form>
