<h1>enter the email/username</h1>

<form action="/users/new-password" method="POST">
  <input type="email" name="email" placeholder="Email" required />
  <input type="submit" value="Submit" />
</form>
