footer
{
    background-color: rgb(115, 117, 115);
    padding: 20px;
    display: flex;
    font-size: 20px;

}
#abcd
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 20px;
    a{
        color:black;
        text-decoration: none;
    }
}