header {
  font-family: sans-serif;
  h1 {
    color: white;

    margin: 0px;
    margin-top: 7px;
    height: 35px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(24, 98, 236);
  ul {
    display: flex;
    list-style: none;
    a {
      color: white;
      text-decoration: none;
      font-size: 19px;
      font-weight: 600;
      &:hover{
          color: rgb(190, 175, 175);
      }

    }
    li {
      padding: 0px 7px 0px 7px;
      margin-top: 2px;
    }
  }
}
